<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets"
        xmlns:gap="http://phonegap.com/ns/1.0"
        id="org.gutoxavier.nomedoapp"
        version="1.0.0">
    <name>
        Nome do App
    </name>

    <description>
       descrição do App
    </description>

    <author href="http://gutoxavier.com.br" email="gutoffline@gmail.com">
        Guto Xavier
    </author>
    <icon src="images/logo.png" />
</widget>